.about {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
}

.about .left {
    width: 50%;
    text-align: center;
}

.about h1 {
    margin-bottom: 20px;
}

.about .btn {
    width: min-content;
    border: none;
    margin: 30px auto;
}

.about .right {
    width: 50%;
    height: 350px;
}

.about .react-img {
    position: relative;
    width: 365px;
    height: 200px;
    margin: auto;
}

.react-img-left,
.react-img-right {
    position: absolute;
    max-width: 250px;
    max-height: 200px;
}

.react-img-right {
    bottom: 0;
    left: 0;
}

.react-img-left {
    top: 0;
    right: 0;
}

@media screen and (max-width: 640px) {
    .about {
        padding: 1rem;
        flex-wrap: wrap;
    }

    .about .react-img {
        margin-top: 0;
    }

    .about .right,
    .about .left {
        width: 100%;
    }
}